{% extends 'base.html' %}

{% block title %}Password Reset{% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if validlink %}

<div class="container"><div class="card"><div class="card-header">Set a New Password</div><div class="card-body">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Change my password" class="btn btn-success">
    </form>
</div></div></div></div>
{% else %}
<div>
    <h1>The password reset link was invalid. Please request a new password reset.</h1>
</div>
{% endif %}

</body>
</html>

{% endblock %}