{% extends 'base.html' %}

{% block title %}Password Reset{% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container"><div class="card"><div class="card-body">
    <div>
      Your password has successfully been reset. You will be automatically redirected in 5 seconds.
    </div>
    <script>
    function redirect(){
       window.location.href = "{% url 'home' %}";
    }

    setTimeout(redirect, 5000); //Microseconds
</script>
</div></div></div>

</body>
</html>

{% endblock %}