{% extends 'base.html' %}

{% block title %}Forgot Your Password{% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="container">
    <div class="card"><div class="card-header">Forgot your password?</div><div class="card-body">
    <div style="margin-bottom:15px;">Enter your email address below, and we'll email instructions for setting a new one.</div>

    <form method="POST" class="row col-md-6">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" class="btn btn-success" style="margin-left:20px; height:30px;">
    </form>
</div></div>
</div></div>
</body>
</html>

{% endblock %}