{% extends 'base.html' %}

{% load static %}

{% block title %} Music Search - {{ title }} {% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

<div class="container"><div class="card"><div class="card-header">About us</div><div class="card-body">
    <div style="font-size:24px; margin-bottom:24px;">What is Sounds Good?</div>
    <div style="margin-bottom:24px;">
        Sounds Good is a cutting edge new tool that employs the tech industry's strongest new technologies to allow users to find totally new music
        that Sounds Good to them. By utilizing the latest analytical methods, Sounds Good can analyze each user's individual preferences and
        provide music suggestions totally personalized just for you! For registered users, each and every suggestion is hand-picked by our
        advanced, cutting-edge, industry-revolutioning systems that keep your likes and dislikes and preferences in mind. As you like and
        dislike songs, the results that show up for you become more and more custom tailored, ensuring that each user will always recieve
        only the most relevant song suggestions for them. More than that, Sounds Good also allows you, the user, to share your brilliant
        music taste with others, create playlists, follow the music tastes of others, and more!
    </div>
    <div style="font-size:24px; margin-bottom:24px;">Who are we?</div>
    <div style="margin-bottom:24px;">
        The Sounds Good team is made up entirely of fresh developers breaking out into the industry with a strong background in Computer
        Science gained through rigorous and thorough studies at Rowan University, based right in New Jersey. The development team is made
        up of remote collaborators who know how to keep a user's quality of experience and ease of use in mind.
    </div>
    <div style="font-size:24px; margin-bottom:24px;">What Data do we Collect?</div>
    <div style="margin-bottom:24px;">
        At Sounds Good, we understand that user privacy is of utmost importance, and as such, we use zero cookies or trackers here at
        Sounds Good. Instead, the data that we track consists of only each user's account's information, and each user's history of
        music preferences to make the magic happen. We don't collect or need anything else, allowing users to browse and find brand new
        music to them without any worries about their data.
    </div>
    <div style="font-size:24px; margin-bottom:24px;">The Authors</div>
    <div style="margin-bottom:24px;">
        The development team is made up of Amado Medina, Donte Fontenelli, Nicholas Michelette, Ricardo Dominguez, Scott Straguzzi,
        Victoria Scavetta, and Joshua Jurman.
    </div>
</div></div></div></div>

</body>
</html>

{% endblock %}