{% extends "base.html" %}

{% block title %} Music Search - {{ title }} {% endblock %}

{% block content %}


<div class="container"><div class="card">

<div class="card-header"><h2>{{ title }}</h2></div>
<div class="card-body">


<h4>{{ message }}, made in {{ year }}</h4>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
</div></div></div>

{% endblock %}